@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

/* //////////////////////////////
-------NAVIGATION SECTION--------
///////////////////////////////// */
.navigation {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  position: sticky;
  top: 0%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
  transition: .2s ease-in;

}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 60px;
  gap: 20px;
}

.logo-title {
  display: inline-block;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.nav-icon {
  color: #3C62FF;
  height: 50px;
  width: 50px;
}

.nav-text {
  display: flex;
  gap: 50px;
  padding: 20px 60px 20px 40px;
  align-items: center;
}

.nav-text a:link,
.nav-text a:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.nav-text a:active,
.nav-text a:hover {
  text-decoration: underline solid #3C62FF 3px
}

.btn-login {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
  border: none;
  border-radius: 9px;
  background-color: #6E8BFF;
}

.btn-login:hover {
  background-color: #3C62FF;
}

/* //////////////////////////
-------HERO SECTION--------
///////////////////////////// */
.section-hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 96px;
  align-items: center;
  margin-bottom: 80px;
}

.hero-heading {
  font-size: 36px;
  color: #000;
  font-weight: 500;
  margin-bottom: 22px;
}

.hero-heading span {
  text-decoration: underline solid 5px #6E8BFF;

}

.hero-btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
  ;
  border-radius: 9px;
  background-color: #6E8BFF;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 60px;
}

.hero-btn:active,
.hero-btn:hover {
  background-color: #3C62FF;
}

.customers {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.customers-img {
  display: flex;
}

.customers span {
  font-size: 18px;
}

.customers-icon {
  height: 32px;
  width: 32px;
}

.hero-img {
  width: 100%;
}

/* //////////////////////////
-------BROWSER SECTION--------
///////////////////////////// */
.section-browser {
  margin: 0 auto;
  margin-top: 40px;
  padding: 32px 0 46px 0;
  margin-bottom: 30px;
  background-color: #6E8BFF;
}

.browser-heading {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #fff;
  /* text-decoration: underline solid 5px  #6E8BFF; */
}

.browsers-img {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.browsers-img img {
  height: 72px;
  width: 72px;
  color: transparent;
  filter: grayscale(100%);
}

/* //////////////////////////
-------PRIVACY SECTION--------
///////////////////////////// */
.section-privacy {
  margin-top: 60px;
  padding: 26px 0 46px 0;
}

.section-privacy p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #3C62FF;
  letter-spacing: 1.5px;
}

.privacy-heading {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 50px;
  text-align: center;
}

.privacy-box {
  max-width: 1400;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  align-items: center;
}

.privacy-list {
  font-size: 30px;
  letter-spacing: 0.75px;
  font-weight: 600;
  color: #000;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-self: center;
  position: relative;
}

.privacy-icon {
  position: absolute;
  transform: translate(-150%, 10%);
  color: #6E8BFF;
}

.privacy-picture {
  width: 100%;
}

/* //////////////////////////
-------SIGN IN SECTION--------
///////////////////////////// */
.section-signup {
  margin-top: 90px;
  padding: 36px 42px;
}

.signup-grid {
  max-width: 1200px;
  display: grid;
  margin: 32px 32px;
  margin: 0 auto;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  background-color: #6E8BFF;
  border: none;
  border-radius: 12px;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.signup-box {
  padding: 32px 32px;
  color: #fff;
}

.signup-heading {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.signup-box p {
  font-size: 18px;
  margin-bottom: 50px;
}

.signup-btn {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 9px;
  border: none;
  background-color: #fff;
  color: #000;
}

.signup-btn:hover {
  background-color: #E5E5E5;
}

.signup-img {
  width: 100%;
}

/* //////////////////////////
-------FOOTER SECTION--------
///////////////////////////// */
.footer {
  border-top: solid 1px #6E8BFF;
  margin-top: 60px;
}

.section-footer {
  margin-top: 20px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

.section-footer p {
  font-size: 24px;
  font-weight: 700;
}

.copyright {
  padding: 16px 32px
}

/* //////////////////////////
-------CHAT SECTION--------
///////////////////////////// */
.section-chat {
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  background-color: #EFF2FF;
}

.chat-nav {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 60px;
  gap: 20px;
  background-color: #6E8BFF;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

.chat-icon {
  color: #fff;
  height: 50px;
  width: 50px;
}

.chat-title {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.chat-input {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
}

.text-container {
  background-color: #6E8BFF;
}

.chat-form {
  display: block;
  padding: 6px 6px;
  border: none;
  outline: none;
}

.chat-form input {
  font-size: 30px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-form input::placeholder {
  color: #E5E5E5
}