@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
}

/* //////////////////////////////
-------NAVIGATION SECTION--------
///////////////////////////////// */
.navigation {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  position: sticky;
  top: 0%;
  width: 100%;
  height: 90px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.07);

}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 60px;
  gap: 20px;
}

.logo-title {
  display: inline-block;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.nav-icon {
  color: #3C62FF;
  height: 50px;
  width: 50px;
}

.nav-text {
  display: flex;
  gap: 50px;
  padding: 20px 60px 20px 40px;
  align-items: center;
}

.nav-text a:link,
.nav-text a:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18px;
}

.nav-text a:active,
.nav-text a:hover {
  text-decoration: underline solid #3C62FF 3px
}

.btn-login {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
  border: none;
  border-radius: 9px;
  background-color: #6E8BFF;
}

.btn-login:hover {
  background-color: #3C62FF;
}

/* //////////////////////////
-------HERO SECTION--------
///////////////////////////// */
.section-hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 96px;
  align-items: center;
  margin-bottom: 80px;
}

.hero-heading {
  font-size: 36px;
  color: #000;
  font-weight: 500;
  margin-bottom: 22px;
}

.hero-heading span {
  text-decoration: underline solid 5px #6E8BFF;

}

.hero-btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
  ;
  border-radius: 9px;
  background-color: #6E8BFF;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 60px;
}

.hero-btn:active,
.hero-btn:hover {
  background-color: #3C62FF;
}

.customers {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.customers-img {
  display: flex;
}

.customers span {
  font-size: 18px;
}

.customers-icon {
  height: 32px;
  width: 32px;
}

.hero-img {
  width: 100%;
}

/* //////////////////////////
-------BROWSER SECTION--------
///////////////////////////// */
.section-browser {
  margin: 0 auto;
  margin-top: 40px;
  padding: 32px 0 46px 0;
  margin-bottom: 40px;
  background-color: #6E8BFF;
}

.browser-heading {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #fff;
  /* text-decoration: underline solid 5px  #6E8BFF; */
}

.browsers-img {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.browsers-img img {
  height: 72px;
  width: 72px;
  color: transparent;
  filter: grayscale(100%);
}

/* //////////////////////////
-------PRIVACY SECTION--------
///////////////////////////// */
.section-privacy {
  margin-top: 60px;
  padding: 26px 46px
}

.section-privacy p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #3C62FF;
  letter-spacing: 1.5px;
}

.privacy-heading {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 50px;
  text-align: center;
}

.privacy-box {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 72px;
  align-items: center;
}

.privacy-list {
  font-size: 30px;
  letter-spacing: 0.75px;
  font-weight: 600;
  color: #000;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-self: center;
  position: relative;
}

.privacy-icon {
  position: absolute;
  transform: translate(-150%, 10%);
  color: #6E8BFF;
}

.privacy-picture {
  width: 100%;
}

/* //////////////////////////
-------SIGN IN SECTION--------
///////////////////////////// */
.section-signup {
  margin-top: 90px;
  padding: 36px 42px;
}

.signup-grid {
  max-width: 1200px;
  display: grid;
  margin: 32px 32px;
  margin: 0 auto;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  background-color: #6E8BFF;
  border: none;
  border-radius: 12px;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.signup-box {
  padding: 32px 32px;
  color: #fff;
}

.signup-heading {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.signup-box p {
  font-size: 18px;
  margin-bottom: 50px;
}

.signup-btn {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 9px;
  border: none;
  background-color: #fff;
  color: #000;
}

.signup-btn:hover {
  background-color: #E5E5E5;
}

.signup-img {
  width: 100%;
}

/* //////////////////////////
-------FOOTER SECTION--------
///////////////////////////// */
.footer {
  border-top: solid 1px #6E8BFF;
  margin-top: 60px;
}

.section-footer {
  margin-top: 20px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
}

.section-footer p {
  font-size: 24px;
  font-weight: 700;
}

.copyright {
  padding: 16px 32px
}

/* //////////////////////////
-------POPUP SECTION--------
///////////////////////////// */
.login-container {
  position: fixed;
  padding: 48px 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 12px;
  z-index: 999;
  background-color: #6E8BFF;
  max-height: 600;
  max-width: 600;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.5);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
}

.login-form label {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.login-form input::placeholder {
  font-size: 14px;
  color: #999;
}

.login-form input {
  padding: 6px 12px;
  border-radius: 12px;
  border: none;
  outline: none;
}

.form-label-email {
  display: flex;
  gap: 75px;
}

.form-label-username {
  display: flex;
  gap: 22px;
}

.form-label-image {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.form-label-image span {
  cursor: pointer;
}

.image-icon {
  height: 28px;
  width: 28px;
  cursor: pointer;
}


.form-label-password {
  display: flex;
  gap: 27px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.login-btn {
  display: block;
  align-self: center;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.login-btn:hover {
  background-color: #E5E5E5;
}

.x-container {
  position: relative;
  margin-bottom: 40px;
}

.x-container h1 {
  color: #fff;
  text-align: center;
}

.x-btn {
  padding: 6px 12px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(90%, -120%);
}

.x-btn:hover {
  background-color: #E5E5E5;
}

.overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);
}

/* //////////////////////////
-------CHAT SECTION--------
///////////////////////////// */
.home {
  background-color: #A2B4FF;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 65%;
  height: 80%;
  overflow: hidden;
}

.sidebar {
  background-color: #708AFF;
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  height: 10%;
  padding: 10px 20px;
  background-color: #5675FF;
  color: white;
  gap: 30px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-logo p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar-icon {
  width: 24px;
  height: 24px;

}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

.navbar-user img {
  background-color: #ddddf7;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover
}

.logout-btn {
  font-size: 18px;
  border: none;
  padding: 6px 12px;
  color: white;
  background-color: #8A9FFF;
  cursor: pointer;
  margin-left: auto;
}

.logout-btn:hover {
  background-color: #A4B4FF;
}

.search {
  background-color: #A5B4FF
}

.search-form {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  align-items: center;
}

.search-form-icon {
  height: 24px;
  width: 24px;
  color: white;
}

.search-form input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.search-form input::placeholder {
  color: white;
}

.user-chat {
  display: flex;
  padding: 10px;
  gap: 15px;
  align-items: center;
  color: white;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #A5B4FF;
}

.searched {
  background-color: #234BFF;
}

.user-chat.searched span {
  color: white;
}

.chats {
  overflow-y: scroll;
  max-height: 68.5vh;
  background-color: #BEC9FF;
}

.user-info {
  width: 100%;
}

.user-info span {
  font-size: 28px;
  font-weight: 600;
  color: #323232
}

.user-info p {
  font-size: 20px;
  color: #585858
}

.user-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.user-chat:hover {
  background-color: #899FFF;
}

.last-m-content {
  display: flex;
  align-items: center;
  gap: 3px;
}

.last-m-icon {
  height: 24px;
  width: 24px;
}

.chat {
  position: relative;
  height: 100%;
}

.chat-info {
  background-color: #5675FF;
  height: 10%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  color: white;
  gap: 15px;
}

.chat-info img {
  background-color: #ddddf7;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover
}

.chat-info span {
  font-size: 20px;
  font-weight: 500;
}

.navbar-logo-chat {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 5px;
}

.back-btn {
  font-size: 14px;
  border: none;
  padding: 6px 12px;
  color: white;
  background-color: #8A9FFF;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #A4B4FF;
}

.messages {
  background-color: #ddddf7;
  padding: 20px;
  overflow-y: scroll;
  height: 67.5vh
}

.messages-loading {
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.message-info {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
  margin-bottom: 20px;
}

.message-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message-content {
  max-width: 80%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: start;
}

.message-output {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.message-output img {
  max-width: 60%;
  cursor: pointer;
  align-self: flex-start;
}

.message-content p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  width: fit-content;
  align-self: flex-start;
}

.message-content span {
  font-size: 12px;
}

.owner {
  flex-direction: row-reverse;
}

.owner span {
  text-align: end;
}

.owner p {
  background-color: #8A9FFF;
  color: white;
  border-radius: 10px 0px 10px 10px;
  width: fit-content;
  align-self: flex-end;
}

.owner img {
  align-self: flex-end;
}

.owner .message-file {
  flex-direction: row;
}

.message-file {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  border-radius: 12px;
  background-color: #F5EEDD;
  padding: 8px 12px;
  cursor: pointer;
}

.message-file p {
  font-size: 13px;
  text-decoration: underline;
  align-self: center;
  background: none;
  padding: 0;
  color: black;
}

.file-icon {
  height: 42px;
  width: 42px;
}

.message-file:hover {
  opacity: 0.7;
}

.input {
  height: 8%;
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
}

.input input {
  width: 100%;
  outline: none;
  border: none;
  color: #2f2d52;
  font-size: 18px;
}

.input input::placeholder {
  color: #A4A4A4;
}

.input-send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.input-btn {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #8A9FFF;
  cursor: pointer;
}

.input-btn:hover {
  background-color: #A4B4FF;
}

/* IMAGE POPUP */
.image-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);
}

.image-container {
  display: flex;
  position: relative;
  padding: 48px 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 80%;
}

.image-x-icon {
  height: 48px;
  width: 48px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 15%;
}

.image-download-icon {
  height: 60px;
  width: 60px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 80%;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 24px;
  z-index: 999;
}